@page "/dogs/edit"
@using Microsoft.EntityFrameworkCore
@using DogAdoptionProject.Models
@inject IDbContextFactory<DogAdoptionProject.Data.DogAdoptionProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Dog</h2>
<hr />
@if (Dog is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Dog" OnValidSubmit="UpdateDog" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Dog.Id" value="@Dog.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Dog.Name" class="form-control" />
                    <ValidationMessage For="() => Dog.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Dog.Description" class="form-control" />
                    <ValidationMessage For="() => Dog.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="Dog.Status" class="form-control" />
                    <ValidationMessage For="() => Dog.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <InputText id="type" @bind-Value="Dog.Type" class="form-control" />
                    <ValidationMessage For="() => Dog.Type" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/dogs">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Dog? Dog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Dog ??= await context.Dog.FirstOrDefaultAsync(m => m.Id == Id);

        if (Dog is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDog()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Dog!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DogExists(Dog!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/dogs");
    }

    private bool DogExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Dog.Any(e => e.Id == id);
    }
}
