@page "/about"
<h3>About</h3>

<p>
    Here is the Dog Adoption Policy of MyDogAdoption Program.
    <br />
    Applicants must be:
    <br />
    Within Specified House Range: Small or Large
    <br />
    Within Specified Dependents Range: 0-4
    <br />
    <br />
    How to Use Site:
    <br />
    Log In or Sign Up
    <br />
    Select User or Dogs or Apply or Home Apply for more actions
    <br />
    Select Approved App or Rejected App or Home App to check application progress
    <br />
    Log Out
    <br />
</p>
<div>
    <a href="/">Back to Home</a>
</div>


@code {

}
