@page "/about"
<h3>About</h3>

<p>
    Here is the Dog Adoption Policy of MyDogAdoption Program.
    <br />
    Applicants must be:
    <br />
    Within Specified House Range: Small or Large
    <br />
    Within Specified Dependents Range: 0-4
    <br />

</p>
<div>
    <a href="/">Back to Home</a>
</div>


@code {

}
