@page "/exampleform"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DogAdoptionProject.Models
@using DogAdoptionProject.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DogAdoptionProject.Data.DogAdoptionProjectContext> DbFactory
@inject ILogger<ExampleForm> Logger

<EditForm Model="Model" OnSubmit="Submit" FormName="Dog">
    <div>
        <label>
            Identifier:
            <InputText @bind-Value="Model!.Id" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>



@code {
    private DogAdoptionProjectContext context = default!;

    [SupplyParameterFromForm]
    private Dog? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();
    

    private void Submit() => Logger.LogInformation("Id = {Id}", Model?.Id);

    public class Dog
    {
        public string? Id { get; set; }
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}